# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
.venv/
venv/
__pycache__/
*.pyc

# Segredos
.env
*.env
!.env.example

# Robot Framework execution artifacts
logs/
*.robolog
interactive_console_output.xml

# OS/editor
.DS_Store
.idea/
.vscode/
